{% set article_show = path('article_show',{'slug': article.slug} ) %}

<article class="mb-5">
    <div>
        <div class="">
            {% if article.featuredImage %}
                <a href="{{article_show}}" class="link-primary">
                    <img src="/uploads/media/{{article.featuredImage.filename}}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="100%" height="150">
                </a>
            {% endif %}
        </div>
        <div class="">
            <h5>
                <a href="{{article_show}}" class="link-primary text-decoration-none fw-bold">{{ article.title }}</a>
            </h5>
            <p class="fw-bold">
                {{ article.createdAt|date('d m Y') }}
            </p>
            {{ article.featuredText ?: article.content | striptags|slice(0, 130) - '...' }}
        </div>
    </div>
</article>